@mixin menu-link {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: $cabinet;
    bottom: -2px;
    transform: scale(0);
    transition: all .5s;
    z-index: 5;
  }
  &:hover {
    &::before {
      transform: scale(1);
    }
  }
}

@mixin radius {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(45deg, #ECF8FF, #ECF8FF);
  background-repeat: no-repeat;
  background-size: 50% 50%;
}



