$text: #1d1c1c;
$text-bg: #f3eaea;
$text-content: #514e4e;
$text-menuinfo: #9ba8b6;
$text-menuinfo-active: #424141;
$text-iconmenu: #c5c6c7;
$icon-menu: #49bdf6;
$cabinet: #4ebff7;
$red: #f5152e;
$breadcrumbs: #c9cacb;
$form-box: #959191;
$sans: 'Open Sans', sans-serif;
