.header__slider1{
  min-height: 471px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &-services {
    display: flex;
    justify-content: space-between;
    color: $icon-menu;
    &-title {
      font-size: 30px;
      margin-top: 60px;
      margin-bottom: 40px;
    }
    &-btn {
      text-align: center;
      font-size: 12px;
      margin-top: 50px;
      border-radius: 5px;
      background-color: rgb(46, 48, 48);
      // opacity: 0.8;
      box-shadow: 0 0 19px -1px $icon-menu;
      width: 171px;
      height: 35px;
      line-height: 35px;
      background-repeat: no-repeat;
      background-position: 10px center;
    }
  }
  &-content {
    max-width: 740px;
    width: 100%;
  }
  &-title {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 50px;
  }
  &-text {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    margin-bottom: 85px;
    max-width: 710px;
    width: 100%;
  }
  &-info {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    &-box {
      border-radius: 5px;
      background-color: rgb(46, 43, 43);
      box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.07);
      width: 237px;
      height: 93px;
      position: relative;
    }
    &-registr-text {
      position: absolute;
      max-width: 175px;
      width: 100%;
      letter-spacing: 1px;
      padding-left: 10px;
      top: 50%;
      transform: translateY(-50%);
      &::after{
        content: "\f178";
        font-family: 'icomoon';
        position: absolute;
        top: 25px;
        right: 30px;
        color: $icon-menu;
      }
    }
    &-add-text {
      position: absolute;
      max-width: 150px;
      width: 100%;
      letter-spacing: 1px;
      padding-left: 10px;
      top: 50%;
      transform: translateY(-50%);
      &::after{
        content: "\f178";
        font-family: 'icomoon';
        position: absolute;
        top: 25px;
        right: 40px;
        color: $icon-menu;
      }
    }
    &-cabinet-text {
      position: absolute;
      padding-left: 10px;
      letter-spacing: 1px;
      top: 50%;
      transform: translateY(-50%);
      &::after{
        content: "\f178";
        font-family: 'icomoon';
        position: absolute;
        top: 25px;
        right: 40px;
        color: $icon-menu;
      }
     
    }
  }
}

// ==========CSS of slider=========================

.header__slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.header__slider .slick-dots {
  transform: rotate(90deg);
  bottom: 292px;
  left: 635px;
}
.header__slider .slick-dots li.slick-active button:before {
  color: #fff;
  font-size: 46px;
}
.header__slider .slick-dots li button:before {
  font-size: 28px;
  color: #fff;
  opacity: 1;
}

// =============Slider2==================

.header__slider2{
  min-height: 471px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &-wrap {
    display: flex;
    justify-content: space-between;
  }
  &-title {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    margin-top: 65px;
    margin-bottom: 25px;
  }
  &-btn {
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgb(46, 48, 48);
    box-shadow: 0 0 19px -1px $icon-menu;
    width: 171px;
    height: 35px;
    line-height: 35px;
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  &-text {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 45px
  }
  &-breadcrumbs {
    font-size: 14px;
    font-weight: 600;
    color: $breadcrumbs;
    margin-bottom: 20px;
    &-item {
      display: inline-block;
      &.active {
        color: #fff;
        font-size: 16px;
      }

    }
  }
  &-content {
    max-width: 1210px;
    width: 100%;
  }
  &-form {
    position: relative;
    &-input {
      display: block;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      border: none;
    }
    button {
      background-color: $icon-menu;
      border-radius: 5px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 120px;
      height: 50px;
      border: none;
      color: #fff;

    }
  }
  
}

.form__box {
  &-content {
    box-shadow: 0px 0px 12.74px 0.26px rgba(0, 0, 0, 0.07);
    color: $form-box;
    height: 49px;
    border-radius: 5px;
    line-height: 50px;
    padding-left: 20px;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
  }
  &-object {
    width: 146px;
    left: 0;
  }
  &-apartment {
    width: 121px;
    left: 146px;
  }
  &-meters {
    width: 151px;
    left: 267px;
  }
  &-price {
    width: 133px;
    left: 418px;
  }
  &-address {
    width: 565px;
    left: 551px;
  }
 
}

// =========slider2-box==========
.header__slider2-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-left {
    margin-top: 50px;
    color: #fff;
    width: 50%;
  }
  &-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  &-apartment {
    width: 520px;
    color: #a8c9f2;
    text-shadow: 0px 0px 8.37px rgba(79, 80, 80, 0.03);
    margin-bottom: 20px;
    &-name{
      display: inline-block;
      margin-right: 40px;
      font-size: 14px;
      font-weight: 300;
      &:last-child {
        margin-right: 0;
      }
      span {
        color: #fff;
        font-weight: 600;
      }
    }
  }
  &-realty {
    width: 500px;
    color: #a8c9f2;
    &-name {
      display: inline-block;
      margin-right: 40px;
      font-size: 14px;
      font-weight: 300;
      span {
        color: #fff;
        font-weight: 600;
      }
    }
  }

  &-right {
    width: 410px;
    color: #fff;
    margin-top: 15px;
    &-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
    &-btnsearch {
      // padding: 15px 30px 15px 45px;
      width: 178px;
      height: 48px;
      line-height: 48px;
      padding-left: 45px;
      border: 1px solid #fff;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: 15px center;

    }
    &-btnrequest {
      // padding: 15px 35px;
      width: 216px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 5px;
      background-color: $text;
    }

    p {
      text-align: right;
      font-weight: 300;
    }

  }
  
}


.slider2 {
  width: 20px;
  height: 20px;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  &__left {
    left: 185px;
    top: 2px;
  }
  &__right {
    left: 210px;
    top: 2px;
  }
}


@media (max-width: 1300px) {
  .header__slider .slick-dots {
    left: 580px;
  }
}
@media (max-width: 1200px) {
  .header__slider .slick-dots {
    left: 520px;
  }
}

@media (max-width: 1163px) {
  .form__box-address {
   width: 480px;
   left: 449px;
  }
  .form__box-price {
    left: 356px;
  }
  .form__box-apartment {
    left: 141px;
  }
  .form__box-meters {
    left: 250px;
  }

}
@media (max-width: 1060px) {
  .header__slider .slick-dots {
    left: 470px;
  }
}

@media (max-width: 1000px) {
  .header__slider2-title {
    font-size: 32px;
  }
  .header__slider2-box-right p {
    text-align: left;
  }
}
@media (max-width: 984px) {
  .header__slider .slick-dots {
    left: 450px;
  }
}

@media (max-width: 976px) {
  .form__box-content {
    position: relative;
    width: 100%;
    left: 0;
  }
  .header__slider2-form button{
    top: 245px;
    width: 100%;
  }
  .header__slider2-title {
    font-size: 32px;
  }
  .header__slider1-info {
    flex-direction: column;
    margin-bottom: 62px;
  }
  
  
}

@media (max-width: 785px) {
  .header__slider1-title {
    font-size: 32px;
  }
  .header__slider1-info {
    justify-content: space-around;
  }
}

@media (max-width: 785px) {
  .header__slider1-info {
    flex-direction: column;
  }
  .header__slider2-title {
    font-size: 24px;
  }
}

@media (max-width: 360px) {
  .header__slider1-title {
    font-size: 30px;
  }
}

