.receipts {
  background-color: #fff;
  padding: 35px 0 95px;
  &__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 70px;  
    &-property {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      max-width: 242px;
      width: 100%;
      height: 201px;
      border-radius: 5px;
      background-color: #edf8fe;
      box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.07);
      padding-left: 35px;
      padding-top: 40px;
      padding-right: 55px;
      position: relative;
      &-img {
        position: absolute;
        right: 20px;
        bottom: 15px;
      }
    }
    &-cleaning {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      max-width: 257px;
      width: 100%;
      height: 205px;
      background: url(../images/elips.png);
      padding-left: 25px;
      padding-top: 40px;
      position: relative;
      &-img {
        position: absolute;
        bottom: 15px;
        right: 20px;
      }
    }
    &-map {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      color: #fff;
      text-align: center;
      padding-top: 15px;
      width: 750px;
      height: 201px;
      border-radius: 5px;
      background-color: #33322d;
      box-shadow: 0px 0px 13px 0px rgba(180, 179, 179, 0.11);
      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        padding-left: 130px;
        padding-right: 100px;
      }
    }
  }
}
.tabs-container {
  margin-left: 0px;
}
.kvartira {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 13px 0px rgba(180, 179, 179, 0.21);
  width: 412px;
  height: auto;
  // max-height: 535px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.07);
  
  &__icon-star {
    position: absolute;
    right: 20px;
    top: 7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #dedddc;
    &::before {
      content: '\f006';
      font-family: 'icomoon';
      position: absolute;
      top: 0px;
      right: 6px;
      color: #f17a87;
    }
  }
  &__icon {
    &-camera {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 87px;
      height: 31px;
      border-radius: 5px;
      background-color: rgba(4, 4, 4, 0.702);
      &::before {
        content: '\f030';
        font-family: 'icomoon';
        position: absolute;
        color: #fff;
        bottom: 4px;
        left: 10px;
      }
    }
    &-total {
      color: #fff;
      text-align: right;
      padding-right: 11px;
      margin-top: 3px;
    }

  }
  &__img {
    // width: 100%;
    // height: auto;
    margin-bottom: 30px;
    position: relative;
  }
  &__meters {
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  &__city {
    font-weight: 300;
    margin-bottom: 25px;
    margin-left: 20px;
  }
  &__price {
    font-weight: 700;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: '';
      background: url(../images/rubl.png);
      position: absolute;
      width: 10px;
      height: 13px;
      top: 6px;
      left: 130px;
    }
  }
  span {
    display: inline-block;
    position: absolute;
    right: 20px;
    color: #adadad;
  }
  &__floor {
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    position: relative;
    &::after {
      content: '';
      background: url(../images/etaj.png);
      position: absolute;
      width: 10px;
      height: 12px;
      top: 6px;
      left: 0;
    }
    
  }
  &__metro {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
    position: relative;
    padding-left: 20px;
    border-top: 1px solid #ebebeb;
    &::before {
      content: '';
      background: url(../images/metro.png);
      position: absolute;
      width: 10px;
      height: 12px;
      top: 27px;
      left: 0;
    }
    
  }
  width: 411px;
}

.slider3 {
  width: 45px;
  height: 45px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: -14%;
  z-index: 3;
  transition: all .5;
  &:hover {
    background-color: #edf8fe;
  }
  &__left {
    right: 4%;
  }
  &__right {
    right: 0%;
  }
}

.slider4 {
  width: 20px;
  height: 20px;
  font-size: 26px;
  background: transparent;
  color: #585858;
  border: none;
  outline: none;
  position: absolute;
  top: 38%;
  cursor: pointer;
  z-index: 3;
  &__left {
    left: 2%;
  }
  &__right {
    right: 5%;
  }
}

.receipts__new {
  &-title {
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 700;
    display: inline-block;
  }
  &-tabs {
    display: inline-block;
    margin-left: 14px;
    vertical-align: top;
    span {
      font-size: 12px;
      font-weight: 700;
      margin-left: 10px;
      padding: 15px;
      color: $form-box;
      border-radius: 22px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.07);
      
    }
  }
}

.tabs-content.tabs-content--active {
  display: block;
}
.tabs-content {
  display: none;
}
.receipts__tab.tab--active {
  span {
    background-color: #edf8fe; 
  }
}

@media (max-width: 1286px) {
  .receipts__info {
    justify-content: space-around;
  }
  .receipts__info-map {
    margin-top: 20px;
    width: 100%;
  }
  .kvartira {
    margin-left: auto;
    margin-right: auto;
  }
  .slider3__left {
    right: 6%;
  }
}

@media (max-width: 770px) {
  .kvartira {
    margin-top: 30px;
  }
}
@media (max-width: 420px) {
  .slider3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}